{% extends 'header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<!-- This site was created in Webflow. https://www.webflow.com --><!-- Last Published: Wed Jul 14 2021 17:16:06 GMT+0000 (Coordinated Universal Time) -->
<html>

<head>
    
</head>

<body>
       <div class="section">
        <div class="container">
            <div class="_2-col-grid">
                <div id="w-node-ae1707fa-397e-9f3e-0bb7-4e6e338a2106-4668f794" class="align-center-mobile">
                    <div class="section-subtitle">WELCOME TO ART PORTFOLIO</div>
                    <div class="section-title-wrap">
                        <h1 class="section-title">ABOUT THE <br />FOUNDERS</h1><img
                            src="https://assets.website-files.com/60cc2875009785294dcaed16/60cd5d0e3e9cf44f8f46ed8a_Underline Stroke.svg"
                            loading="lazy" alt="" class="title-underline" />
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo
                        diam libero vitae erat. </p>
                    <div class="button-wrap"><a href="contact" class="button w-button">get started</a></div>
                </div><img
                    src="../assets.website-files.com/60cc2875009785294dcaed16/60cd6b7c0e41a352dbb0a0bd_photo-1554188248-986adbb73be4.jpg"
                    loading="lazy" id="w-node-_5a6361b5-7c88-1769-c2f8-f89990d0f0f2-4668f794"
                    sizes="(max-width: 479px) 100vw, (max-width: 767px) 95vw, (max-width: 991px) 92vw, 33vw"
                    srcset="https://assets.website-files.com/60cc2875009785294dcaed16/60cd6b7c0e41a352dbb0a0bd_photo-1554188248-986adbb73be4-p-1080.jpeg 1080w, https://assets.website-files.com/60cc2875009785294dcaed16/60cd6b7c0e41a352dbb0a0bd_photo-1554188248-986adbb73be4.jpg 1650w"
                    alt="" class="section-img" />
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="_2-col-grid">
                <div id="w-node-_29a65217-0102-49d4-8eeb-a18094b332d9-4668f794" class="portrait-wrap"><img
                        src="../assets.website-files.com/60cc2875009785294dcaed16/60cd68833fb64c509f2695c4_P6.jpg"
                        loading="lazy" alt="" class="portrait-img" /><img
                        src="https://assets.website-files.com/60cc2875009785294dcaed16/60cd5d0e8dd92c352d889066_Circle Stroke.svg"
                        loading="lazy" alt="" class="title-circle" /></div>
                <div class="align-center-mobile">
                    <div class="section-subtitle">Who Am i?</div>
                    <div class="section-title-wrap">
                        <h2 class="section-title small">JOE SMITH</h2>
                    </div><img
                        src="https://assets.website-files.com/60cc2875009785294dcaed16/60cd5d0e35a1a4828b52947a_Wave Stroke.svg"
                        loading="lazy" alt="" class="wave-stroke" />
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo
                        diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut
                        sem vitae risus tristique posuere.</p>
                    <div class="content-block"><img
                            src="../assets.website-files.com/60cc2875009785294dcaed16/60cd5f2064d632768e51ef5b_Megaphone.png"
                            loading="lazy" alt="" class="section-icon margin-right" />
                        <div>
                            <div class="section-subtitle white-text">Marketing &amp; creative teams</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                                elementum tristique.</p>
                        </div>
                    </div>
                    <div class="button-wrap"><a href="contact" class="button w-button">get started</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="align-center">
                <div class="section-subtitle">explore the winds</div>
                <div class="section-title-wrap">
                    <h2 class="section-title small">Our partners</h2><img
                        src="https://assets.website-files.com/60cc2875009785294dcaed16/60cd5d0e3e9cf44f8f46ed8a_Underline Stroke.svg"
                        loading="lazy" alt="" class="title-underline" />
                </div>
            </div>
            <div data-w-id="8cf57dca-3d36-2182-aa87-aa1a6042f822" class="divider"></div>
            <div class="partners-wrap"><img
                    src="https://assets.website-files.com/60cc2875009785294dcaed16/60cd5e5267335acc72a379e2_logoipsum-logo-11.svg"
                    loading="lazy" alt="" class="partner-logo" /><img
                    src="https://assets.website-files.com/60cc2875009785294dcaed16/60cd5e543ce5ae6030c694dc_logoipsum-logo-10.svg"
                    loading="lazy" alt="" class="partner-logo" /><img
                    src="https://assets.website-files.com/60cc2875009785294dcaed16/60cd5e5515fc7493cfd56298_logoipsum-logo-6.svg"
                    loading="lazy" alt="" class="partner-logo" /><img
                    src="https://assets.website-files.com/60cc2875009785294dcaed16/60cd5e56076883835c68c344_logoipsum-logo-1.svg"
                    loading="lazy" alt="" class="partner-logo" /></div>
            <div class="align-center">
                <div class="button-wrap"><a href="contact" class="button w-button">get started</a></div>
            </div>
        </div>
    </div>
    
</body>
<!-- Mirrored from the-artfolio.webflow.io/about by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 27 Aug 2023 06:28:28 GMT -->

</html>
{% endblock %}