{% extends 'header.html' %}
{% load static %}
{% block content %}


<!DOCTYPE html>

<html>
<head>
</head>

<body>

    <div class="section">
        <div class="container">
            <div class="_2-col-grid">
                <div id="w-node-ae1707fa-397e-9f3e-0bb7-4e6e338a2106-4fcaed18" class="align-center-mobile">
                    <div class="section-subtitle">WELCOME TO ART PORTFOLIO</div>
                    <div class="section-title-wrap">
                        <h1 class="section-title">DESIGN.<br />CREATE.<br />INSPIRE.</h1><img
                            src="{% static '/img/Underline Stroke.svg' %}"
                            loading="lazy" alt="" class="title-underline" />
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo
                        diam libero vitae erat. </p>
                    <div class="button-wrap"><a href="contact" class="button w-button">get started</a></div>
                </div><img
                    src="{% static '/img/img-1.jpg' %}"
                    loading="lazy" id="w-node-_5a6361b5-7c88-1769-c2f8-f89990d0f0f2-4fcaed18"
                    sizes="(max-width: 479px) 100vw, (max-width: 767px) 95vw, (max-width: 991px) 90vw, 41vw"
                    alt="" class="section-img" />
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="flex-section-header">
                <div class="align-center-mobile">
                    <div class="section-subtitle">WELCOME TO ART PORTFOLIO</div>
                    <div class="section-title-wrap">
                        <h2 class="section-title small">EXPLORE ART PORTFOLIO</h2><img
                            src="{% static '/img/circle.svg' %}"
                            loading="lazy" alt="" class="title-circle" />
                    </div>
                </div><a href="arts" class="button w-button">Browse more</a>
            </div>
            <div class="w-dyn-list">
                <div role="list" class="_4-col-grid w-dyn-items">
                    <div role="listitem" class="w-dyn-item"><a data-w-id="dc6f877c-4a31-8b23-9721-3f85ad69b835" href="#"
                            class="cms-item w-inline-block"><img
                                src="{% static '/img/60cd665482d708e911480353_photo-1604871000636-074fa5117945.jpg' %}"
                                loading="lazy" alt="" class="cms-item-thumbnail art" />
                            <div style="display:none;opacity:0" class="overlay-block">
                                <div>VIEW</div>
                            </div>
                        </a></div>
                    <div role="listitem" class="w-dyn-item"><a data-w-id="dc6f877c-4a31-8b23-9721-3f85ad69b835" href="#"
                            class="cms-item w-inline-block"><img
                                src="{% static '/img/60cd664a29f77618e5210701_photo-1600700291183-7102df6c7ee0.jpg' %}"
                                loading="lazy" alt="" class="cms-item-thumbnail art" />
                            <div style="display:none;opacity:0" class="overlay-block">
                                <div>VIEW</div>
                            </div>
                        </a></div>
                    <div role="listitem" class="w-dyn-item"><a data-w-id="dc6f877c-4a31-8b23-9721-3f85ad69b835" href="#"
                            class="cms-item w-inline-block"><img
                                src="{% static '/img/60cd663ff5aacdc4b4fe4c20_photo-1599894019794-50339c9ad89c.jpg' %}"
                                loading="lazy" alt=""
                                sizes="(max-width: 479px) 100vw, (max-width: 767px) 66vw, (max-width: 991px) 43vw, 21vw"
                                class="cms-item-thumbnail art" />
                            <div style="display:none;opacity:0" class="overlay-block">
                                <div>VIEW</div>
                            </div>
                        </a></div>
                    <div role="listitem" class="w-dyn-item"><a data-w-id="dc6f877c-4a31-8b23-9721-3f85ad69b835" href="#"
                            class="cms-item w-inline-block"><img
                                src="{% static '/img/60cd66337a96e45811da4a19_photo-1586455122412-4576812ffe42.jpg' %}"
                                loading="lazy" alt="" class="cms-item-thumbnail art" />
                            <div style="display:none;opacity:0" class="overlay-block">
                                <div>VIEW</div>
                            </div>
                        </a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="flex-section-header">
                <div class="align-center-mobile">
                    <div class="section-subtitle">see whats new</div>
                    <div class="section-title-wrap">
                        <h2 class="section-title small">Featured Artists</h2><img
                            src="{% static '/img/60cd5d0e8dd92c352d889066_Circle Stroke.svg' %}"
                            loading="lazy" alt="" class="title-circle" />
                    </div>
                </div><a href="artists.html" class="button w-button">Browse more</a>
            </div>
            <div class="w-dyn-list">
                <div role="list" class="_4-col-grid w-dyn-items">
                    <div role="listitem" class="w-dyn-item"><a data-w-id="46bf0039-d14d-4909-2187-6ae5b16b2b2b"
                            href="artist/frank-west" class="cms-item w-inline-block">
                            <div class="cms-thumbnail-wrap">
                                <div style="display:none;opacity:0" class="overlay-block">
                                    <div>VIEW PROFILE</div>
                                </div><img
                                    src="{% static '/img/60cd65d382c9a8357748396a_P5.jpg' %}"
                                    loading="lazy" alt="" class="cms-item-thumbnail artist" />
                            </div>
                            <div class="align-center-mobile">
                                <div class="artist-name">Frank West</div>
                                <div class="artist-subtitle">Digital Art</div>
                            </div>
                        </a></div>
                    <div role="listitem" class="w-dyn-item"><a data-w-id="46bf0039-d14d-4909-2187-6ae5b16b2b2b"
                            href="artist/scott-harvey.html" class="cms-item w-inline-block">
                            <div class="cms-thumbnail-wrap">
                                <div style="display:none;opacity:0" class="overlay-block">
                                    <div>VIEW PROFILE</div>
                                </div><img
                                    src="{% static '/img/60cd65da8ec96b9b5ca7426d_P4.jpg' %}"
                                    loading="lazy" alt="" class="cms-item-thumbnail artist" />
                            </div>
                            <div class="align-center-mobile">
                                <div class="artist-name">Scott Harvey</div>
                                <div class="artist-subtitle">Photography</div>
                            </div>
                        </a></div>
                    <div role="listitem" class="w-dyn-item"><a data-w-id="46bf0039-d14d-4909-2187-6ae5b16b2b2b"
                            href="artist/daniel-philips.html" class="cms-item w-inline-block">
                            <div class="cms-thumbnail-wrap">
                                <div style="display:none;opacity:0" class="overlay-block">
                                    <div>VIEW PROFILE</div>
                                </div><img
                                    src="{% static '/img/60cd65a082c9a83a5448393c_P3.jpg' %}"
                                    loading="lazy" alt="" class="cms-item-thumbnail artist" />
                            </div>
                            <div class="align-center-mobile">
                                <div class="artist-name">Daniel Philips</div>
                                <div class="artist-subtitle">Digital Art</div>
                            </div>
                        </a></div>
                    <div role="listitem" class="w-dyn-item"><a data-w-id="46bf0039-d14d-4909-2187-6ae5b16b2b2b"
                            href="artist/john-marko" class="cms-item w-inline-block">
                            <div class="cms-thumbnail-wrap">
                                <div style="display:none;opacity:0" class="overlay-block">
                                    <div>VIEW PROFILE</div>
                                </div><img
                                    src="{% static '/img/60cd65893e9cf449b8470c08_P2.jpg' %}"
                                    loading="lazy" alt="" class="cms-item-thumbnail artist" />
                            </div>
                            <div class="align-center-mobile">
                                <div class="artist-name">John Marko</div>
                                <div class="artist-subtitle">Classical Art</div>
                            </div>
                        </a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="section gradient">
        <div class="container">
            <div class="align-center">
                <div class="section-subtitle">explore the winds</div>
                <div class="section-title-wrap">
                    <h2 class="section-title small">Education</h2>
                </div>
            </div>
            <div class="w-dyn-list">
                <div role="list" class="_4-col-grid w-dyn-items">
                    <div role="listitem" class="w-dyn-item"><a data-w-id="454fe010-01b8-cb9e-cb0a-88534ca7e61f" href="#"
                            class="cms-item education w-inline-block"><img
                                src="{% static '/img/60cd66005efaf1a0daf519cc_photo-1564070692695-1bca06dee103.jpg' %}"
                                loading="lazy" alt=""
                                sizes="(max-width: 479px) 100vw, (max-width: 767px) 66vw, (max-width: 991px) 43vw, 21vw"
                                class="cms-item-thumbnail education" />
                            <div style="display:none;opacity:0" class="overlay-block">
                                <div>LEARN MORE</div>
                            </div>
                        </a></div>
                    <div role="listitem" class="w-dyn-item"><a data-w-id="454fe010-01b8-cb9e-cb0a-88534ca7e61f" href="#"
                            class="cms-item education w-inline-block"><img
                                src="{% static '/img/60cd662a49228e0d291a4a0a_photo-1584569452853-38c4b4d8389e.jpg' %}"
                                loading="lazy" alt="" class="cms-item-thumbnail education" />
                            <div style="display:none;opacity:0" class="overlay-block">
                                <div>LEARN MORE</div>
                            </div>
                        </a></div>
                    <div role="listitem" class="w-dyn-item"><a data-w-id="454fe010-01b8-cb9e-cb0a-88534ca7e61f" href="#"
                            class="cms-item education w-inline-block"><img
                                src="{% static '/img/60cd665482d708e911480353_photo-1604871000636-074fa5117945.jpg' %}"
                                loading="lazy" alt="" class="cms-item-thumbnail education" />
                            <div style="display:none;opacity:0" class="overlay-block">
                                <div>LEARN MORE</div>
                            </div>
                        </a></div>
                    <div role="listitem" class="w-dyn-item"><a data-w-id="454fe010-01b8-cb9e-cb0a-88534ca7e61f" href="#"
                            class="cms-item education w-inline-block"><img
                                src="{% static '/img/60cd6615ed71152c75b46654_photo-1577576223085-3eb295cd414f.jpg' %}"
                                loading="lazy" alt="" class="cms-item-thumbnail education" />
                            <div style="display:none;opacity:0" class="overlay-block">
                                <div>LEARN MORE</div>
                            </div>
                        </a></div>
                </div>
            </div>
            <div class="align-center">
                <div class="button-wrap more-padding-top"><a href="educations.html" class="button w-button">Browse
                        more</a></div>
            </div>
        </div><img
            src="{% static '/img/60cd5d0e15fc7422f1d55e74_Circle Stroke - White.svg' %}"
            loading="lazy" alt="" class="section-border-img bottom-left" /><img
            src="{% static '/img/60cd5d0e3e9cf44c6246ed8b_White Stroke.svg' %}"
            loading="lazy" alt="" class="section-border-img" />
    </div>
    <div class="section">
        <div class="container">
            <div class="align-center">
                <div class="section-subtitle">explore the winds</div>
                <div class="section-title-wrap">
                    <h2 class="section-title small">Our partners</h2><img
                        src="{% static '/img/60cd5d0e3e9cf44f8f46ed8a_Underline Stroke.svg' %}"
                        loading="lazy" alt="" class="title-underline" />
                </div>
            </div>
            <div data-w-id="8cf57dca-3d36-2182-aa87-aa1a6042f822" class="divider"></div>
            <div class="partners-wrap"><img
                    src="{% static '/img/60cd5e5267335acc72a379e2_logoipsum-logo-11.svg' %}"
                    loading="lazy" alt="" class="partner-logo" /><img
                    src="{% static '/img/60cd5e543ce5ae6030c694dc_logoipsum-logo-10.svg' %}"
                    loading="lazy" alt="" class="partner-logo" /><img
                    src="{% static '/img/60cd5e5515fc7493cfd56298_logoipsum-logo-6.svg' %}"
                    loading="lazy" alt="" class="partner-logo" /><img
                    src="{% static '/img/60cd5e56076883835c68c344_logoipsum-logo-1.svg' %}"
                    loading="lazy" alt="" class="partner-logo" /></div>
            <div class="align-center">
                <div class="button-wrap"><a href="contact" class="button w-button">get started</a></div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="_2-col-grid">
                <div class="align-center-mobile">
                    <div class="section-subtitle">Who Am i?</div>
                    <div class="section-title-wrap">
                        <h2 class="section-title small">JOE SMITH</h2>
                    </div><img
                        src="{% static '/img/60cd5d0e35a1a4828b52947a_Wave Stroke.svg' %}"
                        loading="lazy" alt="" class="wave-stroke" />
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo
                        diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut
                        sem vitae risus tristique posuere.</p>
                    <div class="content-block"><img
                            src="{% static '/img/60cd5f2064d632768e51ef5b_Megaphone.png' %}"
                            loading="lazy" alt="" class="section-icon margin-right" />
                        <div>
                            <div class="section-subtitle white-text">Marketing &amp; creative teams</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                                elementum tristique.</p>
                        </div>
                    </div>
                    <div class="button-wrap"><a href="contact" class="button w-button">get started</a></div>
                </div>
                <div id="w-node-_29a65217-0102-49d4-8eeb-a18094b332d9-4fcaed18" class="portrait-wrap"><img
                        src="{% static '/img/60cd68833fb64c509f2695c4_P6.jpg' %}"
                        loading="lazy" alt="" class="portrait-img" /><img
                        src="{% static '/img/60cd5d1329f77656c720f05f_IMG BG1' %}"
                        loading="lazy" alt="" class="title-circle" /></div>
            </div>
        </div>
    </div>
   
</body>
</html>
{% endblock %}