{% extends 'header.html' %}
{% load static %}
{% block content %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
</head>

<body>
     

    <!-- performar_area_start  -->
    <div class="performar_area black_bg">
        <div class="container">
            
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="row">
                       
                        <h1 style="color:white;">Booking Is Successfull</h1>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- performar_area_end  -->


  
</body>

</html>
{% endblock %}
